<%- include("partials/header.ejs")  %>

<div class="error">
    <div class="error__container">
        &nbsp;
        <div class="error__container--design">
            404
        </div>
        <div class="error__container--text">
            <div class="error__container--text__heading">
                <h1 class="heading-error__text">Oops! The page you are looking for seems missing!!!</h1>
            </div>
            <div class="error__container--text__button">
                <a href="/" class="btn btn-error">Return to Homepage</a>
            </div>
        </div>
    </div>
</div>

<%- include("partials/footer.ejs")  %>