<%- include("partials/header.ejs")  %>

<div class="alert-container">
    <% if(primary && primary.length > 0){ %>
        <div class="alert-container__message alert-container__message--4">
            <p><%= primary %></p>
        </div>
</div>
    <% } %>



<div class="header">
    <div class="header__content">
        <div class="header__logo">
            <img src="https://image.flaticon.com/icons/svg/45/45806.svg" width="200" alt="Logo" >
        </div>
        <div class="header__title">
            Bloggyz
        </div>
        <div class="header__text">
            <p>Share your wonderful expereince here...</p>
        </div>
    </div> 
</div>
<div class="section-specifications">
    <div class="u-center-text">
        <h2 class="heading-secondary u-margin-bottom-medium">features</h2>
    </div>
    <div class="row">
        <div class="col-1-of-4">
            <div class="specifications">
                <i class="specifications__icon icon-basic-book-pen"></i>   
                <div class="u-center-text">
                    <h3 class="heading-tertiary u-margin-bottom-small">Best blogs</h3>
                </div>
                <div class="specifications__text">
                    <p class="paragraph">
                        If you go through the blogs you surely
                        will appreciate the content and photos 
                        related to it 😁 
                    </p>
                </div>
            </div>
        </div>
        <div class="col-1-of-4">
            <div class="specifications">
                <i class="specifications__icon icon-basic-display"></i>   
                <div class="u-center-text">
                    <h3 class="heading-tertiary u-margin-bottom-small">Easy to read</h3>
                </div>
                <div class="specifications__text">
                    <p class="paragraph">
                        Here blogs is very easy to read and espesially
                        designed for students. We make sure that
                        the writer should use words which is easy 
                        to understand.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-1-of-4">
            <div class="specifications">
                <i class="specifications__icon icon-basic-globe"></i>   
                <div class="u-center-text">
                    <h3 class="heading-tertiary u-margin-bottom-small">Read all over the globe</h3>
                </div>
                <div class="specifications__text">
                    <p class="paragraph">
                        Our blogs are read and appreciated
                        all over the world. The content of 
                        the users are the reason for it.
                                                
                    </p>
                </div>
            </div>
        </div>
        <div class="col-1-of-4">
            <div class="specifications">
                <i class="specifications__icon icon-basic-star"></i>   
                <div class="u-center-text">
                    <h3 class="heading-tertiary u-margin-bottom-small">Most rated blogsite</h3>
                </div>
                <div class="specifications__text">
                    <p class="paragraph">
                        The whole credit goes to the 
                        Blogs and diverse Comments of 
                        all the Users for this accomplishment

                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-photo">
    <div class="row">
        <div class="photo">
            <img src="https://images.unsplash.com/photo-1513708929605-6dd0e1b081bd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1055&q=80" alt="Image">
            <div class="photo__text">
                <h4 class="heading-new">Start writing your own destination...</h4>
            </div>
        </div>
    </div>
</div>
<div class="section-content">
    <div class="row">
        <div class="content">
            <div class="col-1-of-2">
                <div class="content__quote">
                    <div class="innerElement">
                        <h4 class="heading-new u-margin-bottom-medium">View our all blogs...</h4>
                        <a href="/blogs" class="btn btn-main">Click me!</a>
                    </div>
                </div>
            </div>
            <div class="col-1-of-2">
                <div class="content__images">
                    <img src="https://images.unsplash.com/photo-1532153975070-2e9ab71f1b14?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" class="picture picture-1" alt="Photo 1">
                    <img src="https://images.unsplash.com/photo-1523567271574-cfcd2ba942ff?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1052&q=80" class="picture picture-2" alt="Photo 2">
                    <img src="https://images.unsplash.com/photo-1585675280399-151ee5a314d0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80" class="picture picture-3" alt="Photo 3">
                    <img src="https://images.unsplash.com/photo-1563461661455-0e18584f29cd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" class="picture picture-4" alt="Photo 3">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="content-1">
            <div class="col-1-of-2">
                <div class="content-1__picture">
                    <h4 class="heading-new">Write your own great expereince...</h4>
                    <img src="https://images.unsplash.com/photo-1510873897477-7d8724050d64?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="creative photo">
                </div>
            </div>
            <div class="col-1-of-2">
                <div class="inner-container">
                    <div class="content-1__quote content-1__quote-1">
                        <div class="most-inner-container">
                            <h4 class="heading-new u-margin-bottom-medium">Add a new blog, now!</h4>
                            <a href="/blogs/new" class="btn btn-main">Click me!</a>
                        </div>
                        
                    </div>
                    <div class="content-1__quote content-1__quote-2">
                        <h4 class="heading-new">Do you like her??</h4>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
<div class="section-user">
    <div class="join">
        <div class="join__text">
            <% if(currentUser){ %>
                <h4 class="heading-new">Thanks for joining :)</h4>
            <% }else{ %>
                <h4 class="heading-new">Join with us...</h4>
            <% } %>
        </div>
        <div class="join__btn">
            <% if(currentUser){ %>
                <a href="/logout" class="btn btn-logout">Log Out!</a>
            <% }else{ %>    
                <a href="/login" class="btn btn-login u-margin-right-medium">Log in!</a>
                <a href="/signup" class="btn btn-signup">signup!</a>
            <% } %>    
        </div>
    </div>
</div>
<%- include("partials/footer.ejs")  %>